<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Econom.Properties.Settings.DOC_DBConnectionString"
            connectionString="Data Source=HOME-PC\SQLEXPRESS;Initial Catalog=DOC_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Econom.Properties.Settings.OracleString" connectionString="Data Source=MED;Persist Security Info=True;User ID=solution_med;Password=elsoft;Unicode=True"
            providerName="System.Data.OracleClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>